
.accueils {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  article {
    background-color: #370c0c;
    flex-basis: 30%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: white;
    font-family: $ff-title;
    text-align: center;
  }

  h3 {
    color: white;
    text-align: center;
    font-family: $ff-title;
  }

  p {
    color: white;
    text-align: justify;
    padding: 5px;
  }

  label {
    display: none;
  }

  .btn-plus {
    background-color: #11100e;
    border: 1px solid #412f1b;
    color: #ffc45f;;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
  }

  i {
    color: #ffc45f;
  }

}


@media screen and (max-width: $breakpoint-sm) {
  .accueils {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
      background-color: #370c0c;
      flex-basis: 100%;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
  }

}

@media screen and (max-width: $breakpoint-md) {
  .accueils {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
      background-color: #370c0c;
      flex-basis: 50%;
      flex-direction: column;
      align-items: center;
    }
  }

}