.section-personnages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .articles-personnages {
    background-color: #370c0c;
    flex-basis: 50%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-family: $ff-title;
  }

  p {
    color: white;
    text-align: left;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .section-personnages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .articles-personnages {
      background-color: #370c0c;
      flex-basis: 100%;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
  }

}

.header-page {
  .logo {
    flex-basis: 15%;
  }
}