.header-connexion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px;
  justify-content: center;
  background-color: #370c0c;

  .formulaire-connextion div {
    border: 1px solid #412f1b;
    color: #ffc45f;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    background-color: #11100e;
    flex-basis: 30%;
    padding: 30px;
    flex-direction: column;
    align-items: center;

  }

  h2 {
    color: #ffc45f;
    font-family: $ff-title;
  }

  input[type="text"] {
    color: #11100e;
    background-color: #ffc45f;
    border: 2px solid #370c0c;
  }

  input[type="password"] {
    color: #11100e;
    background-color: #ffc45f;
    border: 2px solid #370c0c;
  }

  input[type="file"] {
    color: #11100e;
    background-color: #ffc45f;
    border: 2px solid #370c0c;
  }

  input[type="submit"] {
    color: #11100e;
    background-color: #ffc45f;
    border: 2px solid #370c0c;
  }


}