footer{
  display: flex;
  justify-content: center;
  background-color: #370c0c;
  width: 100%;

  .btn-remonter {
    background-color: #11100e;
    border: 1px solid #412f1b;
    color: #ffc45f;;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

}

