//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {
  background-color: #370c0c;

    nav{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .logo {
        flex-basis: 15%;
      }

      i {
        font-size: 25px;
      }

      padding:10px;


        ul{
          display:flex;
          flex-direction: column;
          list-style: none;
          padding:0;

          text-align: center;

            li{
              position:relative;
              font-family: $ff-title;

              &>ul{
                display:none;

                background-color: $color-bg-dark;


                li{
                  width:100%;

                }

              }
              &:hover>ul{
                display:block;


              }

            }

            a{
              padding:5px 10px;
            }
        }

    }



}


@media screen and (min-width:$breakpoint-sm){

  .header-page {

    nav{

      flex-direction: row;

      ul{
        flex-direction: row;

        li>ul{
          min-width:180px;

          position:absolute;
          z-index: 50;
          top:100%;


          }



        }

      }

    }



  }

@media screen and (max-width: $breakpoint-md) {
  .toggle {
    display: block;
  }
  .active {
    display: block;
  }
  ul {
    display: none;
  }
}










